{% extends 'base.html.twig' %}

{% block title %}Presta y Juega: Regístrate{% endblock %}

{% block body %}
<h1>Únete a la comunidad</h1>
<div>
    {{ form_start(userForm) }}
    {{ form_widget(userForm) }}
    <button type="submit">Registrarme</button>
    {{ form_end(userForm) }}
</div>
{% endblock %}