{% extends "base.html.twig" %}

{% block title %} Presta y Juega: Añadir juego {% endblock %}


{% block body %}
    <h3>Añade a tu biblioteca un juego que quieras intercambiar</h3>
    {{ form_start(addGameForm) }}
    {{ form_widget(addGameForm) }}
    <button class="btn btn-warning mt-4" type="submit">Añadir</button>
    {{ form_end(addGameForm) }}
{% endblock %}
