@font-face {
    font-family: "Varta";
    src: url("./fonts/Varta/static/Varta-Light.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Varta";
    src: url("./fonts/Varta/static/Varta-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}