<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Presta y Juega: Intercambio de juegos de mesa{% endblock %}</title>
    <style rel="stylesheet" href="{{asset(" styles/style.css")}}"></style>
</head>

<body>
    <header>
<div class="container">
    
</div>
    </header>
    {% block body %}{% endblock %}
</body>

</html>