<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Presta y Juega{% endblock %}</title>
        <style rel="stylesheet" href="{{asset("styles/style.css")}}"></style>
    </head>
    <body>
        {% block header %}{% endblock %}
        {% block main %}{% endblock %}
    </body>
</html>
