{% extends "base.html.twig" %}

{% block title %}
	Presta y Juega: Área personal
{% endblock %}

{% block body %}
	<h4 class="text-center mb-5">Este es tu panel de usuario</h4>
	<div class="text-center">
		<a href="{{path('myGames')}}" class="btn btn-lg btn-warning m-4">Mis juegos</a>
		<a href="{{path('myExchanges')}}" class="btn btn-lg btn-warning m-4">Mis intercambios</a>
		<a href="#" class="btn btn-lg btn-warning m-4  position-relative">Solicitudes
			<!-- Poner esto con un if -->
			<span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
			</span>
		</a>
		<a href="{{path('myGames')}}" class="btn btn-lg btn-warning m-4">Editar mis datos</a>
	</div>
{% endblock %}
